.root {
    -fx-border-color: blue;
    -fx-background-color: aliceblue;
}

.button {
    -fx-background-color:  turquoise;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button:pressed {
    -fx-background-color: darkblue;
}